@font-face {
   font-family: MyriadProReg;
   src: url(../i/pf/gutenborg/fonts/MyriadPro-Regular.otf);
}

@font-face {
   font-family: MyriadProIt;
   src: url(../i/pf/gutenborg/fonts/MyriadPro-It.otf);
}

@font-face {
   font-family: MyriadProBold;
   src: url(../i/pf/gutenborg/fonts/MyriadPro-Bold.otf);
}

@font-face {
   font-family: MyriadProBoldIt;
   src: url(../i/pf/gutenborg/fonts/MyriadPro-BoldIt.otf);
}

@font-face {
   font-family: MyriadProSemiBold;
   src: url(../i/pf/gutenborg/fonts/MyriadPro-Semibold.otf);
}

#portfolio {
   min-width: 1000px;
}

body {
   color: #676666;
   font: 14px Arial,Helvetica,sans-serif;
}

.hold1 {
   max-width: 1600px;
   min-width: 1000px;
   position: relative;
}

#portfolio #hdr {
   height: 122px;
}
#hdr {
   font-size: 12px;
   height: 142px;
   padding: 0 20px;
   position: relative;
}


.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}

#logo {
   display: block;
   left: 40px;
   position: absolute;
   top: 30px;
}

a {
   color: #454545;
}

a img {
   border: 0 none;
}


#menu {
   float: left;
   padding: 57px 0 0 20px;
}


#menu a {
   color: #636363;
   font-size: 14px;
   font-weight: bold;
   margin-right: 20px;
   text-transform: uppercase;
}


#hdr #lang {
   left: 273px;
   position: absolute;
   text-transform: uppercase;
   top: 59px;
}

#hdr #lang a {
   font-size: 12px;
   margin-right: 2px;
}
#lang .s {
   color: #00AEBD;
   text-decoration: none;
}
a:hover, a.s {
   color: #00AEBD;
   text-decoration: none;
}

#portfolio_menu {
   background: url("i/bg/portf_bg.gif") repeat-x scroll left bottom #F7F7F7;
   height: 80px;
   min-width: 1000px;
   padding-top: 20px;
   position: absolute;
   width: 100%;
   z-index: 100;
}

.cc {
   padding: 0 20px;
}

.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}


#portfolio_menu .prev {
   background: url("i/push/arrl5.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
   color: #838383;
   display: block;
   font-size: 11px;
   left: 15px;
   padding-left: 25px;
   position: absolute;
   top: 0;
   width: 130px;
   z-index: 100;
}

#portfolio_menu .next {
   background: url("/i/push/arrr5.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
   color: #838383;
   display: block;
   font-size: 11px;
   padding-right: 25px;
   position: absolute;
   right: 15px;
   top: 0;
   width: 130px;
   z-index: 100;
}

a:hover, a.s {
   color: #00AEBD;
   text-decoration: none;
}


#portfolio_menu .m112b {
   height: 80px;
   position: relative;
}
.m112b {
   float: left;
   width: 67%;
}

#portfolio_menu .back {
   color: #838383;
   display: inline-block;
   font-size: 11px;
   margin-left: 20px;
}

#project_menu {
   bottom: -15px;
   left: 20px;
   position: absolute;
}


#project_menu .s {
   background: url("i/bg/portf_s_bg.gif") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
#project_menu a {
   display: inline-block;
   font-weight: bold;
   margin-right: 10px;
   padding-bottom: 32px;
   text-decoration: none;
}
a:hover, a.s {
   color: #00AEBD;
   text-decoration: none;
}

#project_menu a {
   font-weight: bold;
}

#project_menu a span {
   border-bottom: 1px dashed #454545;
}

#portfolio #project {
   padding-top: 80px;
   overflow: hidden;
}

#portfolio .team {
   border-top: 1px solid #E2E2E2;
   font-size: 12px;
   padding: 39px 0;
}
.team {
   background: none repeat scroll 0 0 #FFFFFF;
}

#portfolio .team .m112b {
   overflow: hidden;
}
.m112b {
   float: left;
   width: 67%;
}


#portfolio .team .m112b .cc {
   float: left;
   padding: 0 30px 0 20px;
}


#portfolio h3 .cc {
   display: block;
   text-align: right;
}

#portfolio .team i {
   color: #ABABAB;
   display: block;
}

/* SLIDES */
.slide {
    position: relative;
    width: 2000px;
    height: 100%;
    overflow: hidden;
}

.slide-1 {
   background: url("../i/pf/gutenborg/img/slide-1.png") no-repeat scroll 50% 0;
   height: 780px;
}

.slide-2{
   background: url(../i/pf/gutenborg/img/slide-2.png) no-repeat scroll 50% 0;
   height: 257px;
}

.slide-2-text{
   font-family: MyriadProReg;
   font-size: 27px;
   line-height: 34px;
   color: #a1a1a2;
   width: 50%;
   margin: 100px auto;
}

.gray-title{
   font-family: MyriadProReg;
   font-size: 80px;
   line-height: 108px;
   color: #fbfcfc;
   text-align: right;
   width: 50%;
   background-color: #c2c6ca;
   height: 116px;
   margin-top: 155px;
   padding-right: 55px;
}

.situation-text {
   font-family: MyriadProReg;
   font-size: 27px;
   line-height: 34px;
   color: #a2a466;
   width: 50%;
   margin: 60px auto;
}

.situation-picture{
   width: 100%;
   margin-top: 95px;
   text-align: center;
}

.situation-picture img{
   width: 100%;
   vertical-align: middle;
}

.situation-blocks{
   background: url(../i/pf/gutenborg/img/situation-blocks.png) no-repeat scroll 50% 0;
   height: 378px;
   width: 1022px;
   margin: auto;
   position: relative;
}

.company-picture{
   width: 100%;
   margin-top: 95px;
   text-align: center;
}

.company-picture img{
   width: 100%;
   vertical-align: middle;
}

.company-blocks{
   background: url(../i/pf/gutenborg/img/company-blocks.png) no-repeat scroll 50% 0;
   height: 320px;
   width: 645px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 135px;
   position: relative;
}

.blocks-text-top{
   position: absolute;
   top: 30px;
   left: 40px;
   width: 650px;
}

.blocks-text-bottom{
   position: absolute;
   bottom: 28px;
   right: 26px;
   width: 424px;
}

.blocks-text{
   font-family: MyriadProReg;
   font-size: 18px;
   line-height: 24px;
   color: #fefefe;
}

.blocks-text-big{
   font-family: MyriadProSemiBold;
   font-size: 27px;
   line-height: 40px;
   color: #FFFFFF;
}

.company-blocks-text-top{
   position: absolute;
   top: 30px;
   left: 35px;
   width: 435px;
}

.company-blocks-text-bottom{
   position: absolute;
   bottom: 15px;
   right: 30px;
   width: 311px;
}

.four-blocks-container{
   width: 2000px;
   margin: 0 auto;
}

.block-element{
   width: 985px;
   float: left;
   height: 733px;
}

.block-element img{
   width: 100%;
   vertical-align: middle;
}

.block-element-left{
   margin-right: 30px;
}

.block-element-bottom{
   margin-top: 30px;
}

.four-block-hover{
   height: 733px;
   width: 985px;
   background-size: 100% !important;
}

.four-block-hover.four-block-hover-red{
   background: url(../i/pf/gutenborg/img/shadow-red.png) no-repeat;
}

.four-block-hover.four-block-hover-gray{
   background: url(../i/pf/gutenborg/img/shadow-gray.png) no-repeat;
}

.four-block-hover.four-block-hover-green{
   background: url(../i/pf/gutenborg/img/shadow-green.png) no-repeat;
}

.four-block-hover.four-block-hover-blue{
   background: url(../i/pf/gutenborg/img/shadow-blue.png) no-repeat;
}

.block-element#four-block-1{
   background: url(../i/pf/gutenborg/img/four-block-1.png) no-repeat;
}

.block-element#four-block-2{
   background: url(../i/pf/gutenborg/img/four-block-2.png) no-repeat;
}

.block-element#four-block-3{
   background: url(../i/pf/gutenborg/img/four-block-3.png) no-repeat;
}

.block-element#four-block-4{
   background: url(../i/pf/gutenborg/img/four-block-4.png) no-repeat;
}

.four-block-w-hover#four-block-1 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-nature.png) no-repeat;
}

.four-block-w-hover#four-block-2 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-active.png) no-repeat;
}

.four-block-w-hover#four-block-3 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-tech.png) no-repeat;
}

.four-block-w-hover#four-block-4 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-water.png) no-repeat;
}

.expert-quote{
   background: url(../i/pf/gutenborg/img/expert-quote.png);
   width: 715px;
   height: 240px;
   margin: 147px auto 0 auto;
}

.expert-quote-title{
   font-family: MyriadProBold;
   font-size: 24px;
   line-height: 29px;
   color: #f7fbfd;
   margin-left: 125px;
   padding-top-top: 10px;
}

.expert-quote-symbol{
   font-family: MyriadProBoldIt;
   font-size: 59px;
   line-height: 29px;
   color: #f8fafb;
}

.expert-quote-text-container{
   margin-left: 95px;
   margin-right: 60px;
   margin-top: 10px;
}

.expert-quote-text{
   font-family: MyriadProIt;
   font-size: 19px;
   line-height: 24px;
   color: #fefefe;
}

.blue-title{
   /*width: 50%;*/
   margin-top: 145px;
}

.blue-block{
   width: 465px;
   background-color: #80cdee;
   float: left;
   height: 67px;
   margin-top: 18px;
}

.blue-title-text{
   font-family: MyriadProReg;
   font-size: 100px;
   margin-left: 40px;
   float: left;
   color: #80cdee;
}

.clear{
   clear: both;
}

.solution-blocks{
   width: 817px;
   height: 298px;
   background: url(../i/pf/gutenborg/img/solution-blocks.png) no-repeat scroll 50% 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
   position: relative;
}

.solution-blocks-text-top{
   position: absolute;
   top: 30px;
   left: 37px;
   width: 595px;
}

.solution-blocks-text-bottom{
   position: absolute;
   bottom: 20px;
   right: 37px;
   width: 340px;
}

.red-title{
   margin-top: 145px;
}

.red-block{
   width: 460px;
   background-color: #e22e15;
   float: left;
   height: 67px;
   margin-top: 18px;
}

.red-title-text{
   font-family: MyriadProReg;
   font-size: 100px;
   margin-left: 40px;
   float: left;
   color: #eb3b26;
}

.logo-blocks{
   background: url(../i/pf/gutenborg/img/logo-blocks.png) no-repeat scroll 50% 0;
   width: 560px;
   height: 265px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
   position: relative;
}

.logo-blocks-text{
   margin-left: 23px;
   padding-top: 29px;
   width: 460px;
}

.gutenborg-logos{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}

.gutenborg-logo-small{
   background: url(../i/pf/gutenborg/img/logo-guten-small.png) no-repeat;
   width: 246px;
   height: 306px;
   float: left;
   margin-right: 200px;
}

.gutenborg-logo-large{
   background: url(../i/pf/gutenborg/img/logo-guten-large.png) no-repeat;
   width: 750px;
   height: 295px;
   float: left;
}

.gutenborg-logo-very-large{
   width: 100%;
   text-align: center;
   margin-top: 100px;
}

.gutenborg-logo-very-large img{
   width: 100%;
   vertical-align: middle;
}

.green-title{
   margin-top: 145px;
}

.green-block{
   width: 455px;
   background-color: #a2a465;
   float: left;
   height: 67px;
   margin-top: 18px;
}

.green-title-text{
   font-family: MyriadProReg;
   font-size: 100px;
   margin-left: 40px;
   float: left;
   color: #a2a466;
}

.company-style-blocks {
   background: url(../i/pf/gutenborg/img/company-style-blocks.png) no-repeat scroll 50% 0;
   width: 853px;
   height: 269px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
   position: relative;
}

.company-style-text-top{
   position: absolute;
   top: 18px;
   left: 40px;
   width: 628px;
}

.company-style-text-bottom{
   position: absolute;
   bottom: 20px;
   right: 18px;
   width: 339px;
}

.company-style-set{
   background: url(../i/pf/gutenborg/img/company-style-set.png) no-repeat;
   width: 1212px;
   height: 736px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}

.block-element#four-block-company-1{
   background: url(../i/pf/gutenborg/img/company-style-block-1.png) no-repeat;
}

.block-element#four-block-company-2{
   background: url(../i/pf/gutenborg/img/company-style-block-2.png) no-repeat;
}

.block-element#four-block-company-3{
   background: url(../i/pf/gutenborg/img/company-style-block-3.png) no-repeat;
}

.block-element#four-block-company-4{
   background: url(../i/pf/gutenborg/img/company-style-block-4.png) no-repeat;
}

.four-block-w-hover#four-block-company-1 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-nature.png) no-repeat;
}

.four-block-w-hover#four-block-company-2 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-active.png) no-repeat;
}

.four-block-w-hover#four-block-company-3 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-tech.png) no-repeat;
}

.four-block-w-hover#four-block-company-4 .four-block-hover{
   background: url(../i/pf/gutenborg/img/hover-water.png) no-repeat;
}

.slider-single-photo{
   width: 100%;
   height: 1018px;
   position: relative;
   margin-top: 90px;
}

.slider-button {
   cursor: pointer;
}

.slider-1-arrow-left{
   background: url(../i/pf/gutenborg/img/slider-1/slider-1-arrow-left.png);
   width: 164px;
   height: 106px;
   position: absolute;
   left: 0;
   top: 442px;
}

.slider-1-arrow-right{
   background: url(../i/pf/gutenborg/img/slider-1/slider-1-arrow-right.png);
   width: 154px;
   height: 106px;
   position: absolute;
   right: 0;
   top: 442px;
}

.slider-1-container{
   overflow: hidden;
}

.slider-1-slide{
   width: 100%;
   height: 1018px;
}

.slider-1-slide-1{
   background: url(../i/pf/gutenborg/img/slider-1/slide-1.png) no-repeat;
}

.slider-1-slide-2{
   background: url(../i/pf/gutenborg/img/slider-1/slide-2.png) no-repeat;
}

.slider-1-slide-3{
   background: url(../i/pf/gutenborg/img/slider-1/slide-3.png) no-repeat;
}

.slider-1-slide-4{
   background: url(../i/pf/gutenborg/img/slider-1/slide-4.png) no-repeat;
}

.slider-1-slide-5{
   background: url(../i/pf/gutenborg/img/slider-1/slide-5.png) no-repeat;
}

.slider-1-slide-6{
   background: url(../i/pf/gutenborg/img/slider-1/slide-6.png) no-repeat;
}

.gray-title.gray-title-idea{
   width: 1295px;
}

.moose-text{
   width: 855px;
   height: 223px;
   background-color: #6dc4e7;
   margin-top: 290px;
   margin-right: auto;
   margin-left: auto;
   position: relative;
}

.moose-gif{
   width: 365px;
   height: 261px;
   background: url(../i/pf/gutenborg/img/moose3.gif) no-repeat;
   position: absolute;
   top: -38px;
   left: -33px;
}

.idea-quote-text-container{
   width: 520px;
   padding-top: 38px;
   margin-bottom: 40px;
   color: #fefefe;
   margin-left: 320px;
}

.idea-quote-symbol{
   font-family: MyriadProBoldIt;
   font-size: 72px;
   line-height: 36px;
}

.idea-quote-text{
   font-family: MyriadProIt;
   font-size: 24px;
   line-height: 36px;
}

.idea-blocks{
   width: 838px;
   height: 382px;
   background: url(../i/pf/gutenborg/img/idea-blocks.png) no-repeat scroll 50% 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 120px;
   position: relative;
}

.idea-blocks-text-top{
   position: absolute;
   top: 30px;
   left: 37px;
   width: 595px;
}

.idea-blocks-text-bottom{
   position: absolute;
   bottom: 20px;
   right: 12px;
   width: 422px;
}

.houses{
   background: url(../i/pf/gutenborg/img/houses.png) no-repeat;
   width: 531px;
   height: 266px;
   position: absolute;
   left: 0;
   top: 1190px;
}

.moose-scooter{
   background: url(../i/pf/gutenborg/img/moose-scooter.png) no-repeat;
   width: 1987px;
   height: 538px;
/*   position: absolute;
   bottom: 0;
   left: 0;*/
}

.stand-blocks{
   background: url(../i/pf/gutenborg/img/stand-blocks.png) no-repeat scroll 50% 0;
   height: 365px;
   width: 882px;
   margin: auto;
   position: relative;
   margin-top: 135px;
}

.stand-blocks-text-top{
   position: absolute;
   top: 25px;
   left: 35px;
   width: 575px;
}

.stand-blocks-text-bottom{
   position: absolute;
   bottom: 20px;
   right: 25px;
   width: 575px;
}

.stand-car{
   background: url(../i/pf/gutenborg/img/stand-car.png) no-repeat;
   width: 702px;
   height: 160px;
   margin-left: 140px;
   margin-top: -15px;
}

.slider-stand-photo{
   width: 100%;
   height: 830px;
   position: relative;
}

.slider-stand-arrow-left{
   background: url(../i/pf/gutenborg/img/slider-stand/slider-stand-left.png);
   width: 166px;
   height: 106px;
   position: absolute;
   left: 0;
   top: 360px;
   z-index: 1;
}

.slider-stand-arrow-right{
   background: url(../i/pf/gutenborg/img/slider-stand/slider-stand-right.png);
   width: 166px;
   height: 106px;
   position: absolute;
   right: 0;
   top: 360px;
   z-index: 1;
}

.slider-stand-container{
   overflow: hidden;
}

.slider-stand-slide{
   width: 100%;
   height: 830px;
   text-align: center;
}

.slider-stand-slide img{
   width: 100%;
   height: 100%;
   vertical-align: middle;
   filter: url(../i/pf/gutenborg/img/guten_filters.svg#grayscale);
   filter: gray;
   -webkit-filter: grayscale(1);
}

.slider-stand-slide.active-slide img{
   filter: none;
   -webkit-filter: grayscale(0);
}

.site-blocks{
    background: url(../i/pf/gutenborg/img/site-blocks.png) no-repeat scroll 50% 0;
    height: 331px;
    width: 643px;
    margin: auto;
    position: relative;
    margin-top: 100px;
 }

.site-blocks-text-top{
   position: absolute;
   top: 35px;
   left: 40px;
   width: 575px;
}

.site-blocks-text-bottom{
   position: absolute;
   bottom: 30px;
   right: 72px;
   width: 288px;
}

.guten-eco-image{
   width: 100%;
   margin-top: 140px;
   text-align: center;
}

.guten-eco-image img{
   width: 100%;
   vertical-align: middle;
}

.com-strategy-blocks{
   background: url(../i/pf/gutenborg/img/com-strategy-blocks.png) no-repeat scroll 50% 0;
   height: 246px;
   width: 968px;
   margin: auto;
   position: relative;
   margin-top: 100px;
}

.com-strategy-blocks-text-top{
   position: absolute;
   top: 27px;
   left: 40px;
   width: 820px;
}

.tiser-adv-blocks{
   background: url(../i/pf/gutenborg/img/tiser-adv-blocks.png) no-repeat scroll 50% 0;
   height: 260px;
   width: 851px;
   margin: auto;
   position: relative;
   margin-top: 100px;
}

.tiser-adv-blocks-text-top{
   position: absolute;
   top: 15px;
   right: 30px;
   width: 635px;
}

.block-element#four-block-tiser-1{
   background: url(../i/pf/gutenborg/img/tiser-1.png) no-repeat;
}

.block-element#four-block-tiser-2{
   background: url(../i/pf/gutenborg/img/tiser-2.png) no-repeat;
}

.block-element#four-block-tiser-3{
   background: url(../i/pf/gutenborg/img/tiser-3.png) no-repeat;
}

.block-element#four-block-tiser-4{
   background: url(../i/pf/gutenborg/img/tiser-4.png) no-repeat;
}

.block-element#four-block-booklet-1{
   background: url(../i/pf/gutenborg/img/booklet-1.png) no-repeat;
}

.block-element#four-block-booklet-2{
   background: url(../i/pf/gutenborg/img/booklet-2.png) no-repeat;
}

.block-element#four-block-booklet-3{
   background: url(../i/pf/gutenborg/img/booklet-3.png) no-repeat;
}

.block-element#four-block-booklet-4{
   background: url(../i/pf/gutenborg/img/booklet-4.png) no-repeat;
}

.four-blocks-container.four-blocks-container-margin{
   margin-top: 90px;
}

.block-element#four-block-design-1{
   background: url(../i/pf/gutenborg/img/design-1.png) no-repeat;
}

.block-element#four-block-design-2{
   background: url(../i/pf/gutenborg/img/design-2.png) no-repeat;
}

.block-element#four-block-design-3{
   background: url(../i/pf/gutenborg/img/design-3.png) no-repeat;
}

.block-element#four-block-design-4{
   background: url(../i/pf/gutenborg/img/design-4.png) no-repeat;
}

.virus-blocks-1{
   background: url(../i/pf/gutenborg/img/virus-blocks-1.png) no-repeat scroll 50% 0;
   height: 312px;
   width: 735px;
   position: relative;
   margin: 100px auto auto;
}

.virus-blocks-1-text-top{
   position: absolute;
   top: 45px;
   left: 40px;
   width: 555px;
}

.virus-blocks-1-text-bottom{
   position: absolute;
   bottom: 20px;
   right: 25px;
   width: 315px;
}

.virus-big-img-1{
   background: url(../i/pf/gutenborg/img/virus-big-img.png) no-repeat scroll 50% 0;
   width: 1647px;
   height: 838px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}

.virus-blocks-2{
   background: url(../i/pf/gutenborg/img/virus-blocks-2.png) no-repeat scroll 50% 0;
   height: 391px;
   width: 1422px;
   position: relative;
   margin: 100px auto auto;
}

.virus-blocks-2-text{
   position: absolute;
   top: 85px;
   left: 225px;
   width: 1111px;
}

.virus-big-img-2{
   background: url(../i/pf/gutenborg/img/virus-big-img-2.png) no-repeat scroll 50% 0;
   width: 1997px;
   height: 782px;
   margin: 100px auto 200px;
}

.moose-balloon-container{
   position: relative;
}

.moose-balloon{
   position: absolute;
   right: 80px;
   margin-top: -200px;
}

.moose-balloon img{
   width: 100%;
   vertical-align: middle;
}
/* PARALAX */

.paralax-waves{
   margin-top: 150px;
   position: relative;
}

.paralax-waves .wave-top,
.paralax-waves .wave-bottom{
   float: left;
   width: 100%;
}

.paralax-waves .wave-middle{
   background: url(../i/pf/gutenborg/img/paralax-waves/wave-middle.png) repeat-x;
   width: 100%;
   height: 233px;
   float: left;
}

.paralax-waves .wave-top img,
.paralax-waves .wave-middle img,
.paralax-waves .wave-bottom img{
   width: 100%;
}

.paralax-waves .good-word{
   position: absolute;
   top: 0;
   left: 150px;
   margin-top: -90px;
}

.paralax-waves .block-word{
   position: absolute;
   top: 150px;
   left: 300px;
}

.paralax-scrolling{
   position: relative;
   margin-top: 100px;
   background: url(../i/pf/gutenborg/img/paralax-on-scroll/paralax-bg.png) no-repeat;
   width: 1754px;
   height: 714px;
   margin-left: auto;
   margin-right: auto;
}

.moose-on-bike{
   position: absolute;
   top:178px;
   right: 700px;
}

.ship{
   position: absolute;
   bottom: 87px;
   left: 0;
}

.wave-long{
   position: absolute;
   bottom: 0;
   left: 0;
   background: url(../i/pf/gutenborg/img/paralax-on-scroll/wave-long.png) no-repeat;
   height: 112px;
   width: 922px;
}

.wave-short{
   position: absolute;
   bottom: 0;
   right: 0;
   background: url(../i/pf/gutenborg/img/paralax-on-scroll/wave-short.png) no-repeat;
   height: 126px;
   width: 271px;
}



.notebook-slider{
   width: 100%;
}

.notebook-button-left{
   position: absolute;
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-left.png) no-repeat;
   width: 196px;
   height: 106px;
   left: 0;
   top: 420px;
   cursor: pointer;
}

.notebook-button-right{
   position: absolute;
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-right.png) no-repeat;
   width: 196px;
   height: 106px;
   right: 0;
   top: 420px;
   cursor: pointer;
}

.notebook-frame{
   background: url(../i/pf/gutenborg/img/slider-site/notebook-frame.png);
   width: 1512px;
   height: 1072px;
   margin: 0 auto;
   padding-top: 57px;

}

#notebook-slider-slide{
   margin-top: 230px;
}

.notebook-screen{
   overflow: hidden;
   height: 850px;
   width: 1280px;
   margin-left: 120px;
}

.notebook-screen-slide{
   width: 100%;
   height: 100%;
}

.notebook-screen-slide.screen-1{
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-1.png) no-repeat;
   width: 1268px;
   height: 846px;
}

.notebook-screen-slide.screen-2{
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-2.png) no-repeat;
   width: 1270px;
   height: 846px;
}

.notebook-screen-slide.screen-3{
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-3.png) no-repeat;
   width: 1269px;
   height: 846px;
}

.notebook-screen-slide.screen-4{
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-4.png) no-repeat;
   width: 1275px;
   height: 850px;
}

.notebook-screen-slide.screen-5{
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-5.png) no-repeat;
   width: 1275px;
   height: 850px;
}

.notebook-screen-slide.screen-6{
   background: url(../i/pf/gutenborg/img/slider-site/slider-site-6.png) no-repeat;
   width: 1277px;
   height: 850px;
}

.slide.slide-9{
   position: relative;
}

.paralax-round{
   position: absolute;
   right: 0;
   top: 0;
   width: 777px;
   height: 640px;
}

.parallax-layer{
   position: absolute;
}

.clouds-left{
   width: 670px;
   height: 540px;
   padding-top: 70px;
   padding-left: 40px;
}

.clouds-right{
   width: 250px;
   height: 540px;
   padding-top: 20px;
   padding-left: 450px;
}

.moose-on-balloon{
   width: 250px;
   height: 10px;
   padding-top: 200px;
   padding-left: 350px;
}

/*
.clouds-left{
   background: url(../i/pf/gutenborg/img/paralax-idea/clouds-left.png) no-repeat;
   width: 255px;
   height: 126px;
   position: absolute;
   left: 0;
   top: 170px;
}

.clouds-right{
   background: url(../i/pf/gutenborg/img/paralax-idea/clouds-right.png) no-repeat;
   width: 236px;
   height: 153px;
   position: absolute;
   right: 0;
   top: 80px;
}

.moose-on-balloon{
   background: url(../i/pf/gutenborg/img/paralax-idea/moose-on-ballon.png) no-repeat;
   width: 267px;
   height: 433px;
   position: absolute;
   right: 200px;
   top: 70px;
}*/
